* {
    padding: 0;
    margin: 0;
    font-family: cursive;
    text-align: center;
}

.cell  {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    
    cursor: pointer;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}


#restartBtn {
    margin-top: 40px;
}